/add_numbers.py
/argument_handler.py
/calculate_area.py
/code4.txt
/command_line_arguments.py
/command_line_arguments2.py
/command_line_arguments3.py
/decrypt.py
/encrypt.py
/even_numbers.py
/even_or_odd.py
/example.py
/example.txt
/exception_handling.py
/file.py
/file_handling.py
/file_handling2.py
/final_review(1).py
/final_review2(1).py
/forloop.py
/for_loop.py
/functions.py
/functions2.py
/hello.py
/homework04.py
/hw2.py
/hw3.py
/hw4.py
/hw6.py
/hw7.py
/input.txt
/input_from_user.py
/in_class_activity_while_loops.py
/Lab 4
/Lab 4.zip
/lab2.py
/lab3.py
/lab4.py
/lab5.py
/lab7.py
/lists_4.py
/list_of_lists(1).py
/maximum_number.py
/name.py
/name_vnumber.py
/out.txt
/pp,py
/Pre_final_code1.py
/Pre_final_code2.py
/project 2 template.py
/project1 template.py
/Project1.py
/quiz00.py
/quiz01a.py
/quiz01b.py
/quiz02.py
/quiz02b.py
/quiz03a.py
/quiz5_code1.py
/slicing.py
/slicing2.py
/sorted_names.txt
/square.py
/students_data.txt
/student_data.txt
/tasks.json
/test.py
/text.txt
/text_data.txt
/tokenize_file.py
/user_menu.py
/using_print_f.py
/vowels.py
/Websites
/while_loop.py